.ticket-train__card{
    display: flex;
    justify-content: space-around;
    width: 100%;
height: 100px;
    background-color: #F7F6F6;
}
.ticket-train__item{
    display: flex;
    align-items: center;
    border-right: 1px solid white;
}
.ticket-train__card__aside{
    width: 25%;
    justify-content: space-evenly; 
}

.ticket-train__card-info{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.train__direction-info__time, .ticket-train__card__number{
    font-weight: bolder;
    font-size: 20px;
    line-height: 28.13px
}

.ticket-train__item-time{
    width: 25%;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    
}

.ticket-train__card__directions{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.train__direction-info{
    font-size: 16px;
}

.ticket-train__card__rote-text{
    text-transform: capitalize;
}

.ticket-train__img{
    width: 25px;
    height: 25px;
    background-image: url("../img/Clock.svg");
    background-position: center;
    background-size: contain;

    margin-right: 20px;
}

.ticket-train__arrow{
    width: 30px;
    height: 20px;
    background-image: url("../img/AsideArrow.svg");
    background-size: contain;
    background-position: center;
    margin: 0 0px 0 0px;
}

.ticket-train__arrow-arrival{
    transform: rotate(180deg);
}