@import '../../css/_vars';

.pay-form_form {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.pay-form_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 107px;
    margin: 0;

    color: #292929;

    background: #f9f9f9;
    height: 107px;
    padding-left: 35px;
    border-bottom: 1px dashed #928f94;
}

.pay-form_title-repeat {
    border-top: 1px dashed #928f94;
}

.pay-form-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pay-form-controls-contacts {
    flex-direction: column;
}

.pay-form_wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

.pay-form_label {
    display: flex;
    flex-direction: column;
    width: 32%;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #292929;
}

.pay-form-controls-contacts {
    margin-bottom: 89px;
    width: 125%;
}

.pay-form_field-control {
    display: none;
}

.pay-form_label-radio::before {
    content: '';
    display: inline-block;
    vertical-align: middle;

    width: 28px;
    height: 28px;
    margin-right: 20px;
    border: 1px solid #928f94;
    border-radius: 5px;
}

.pay-form_field-control:checked~.pay-form_label-radio::before {
    border-color: $orange;

    background-image: url('../../img/Checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 18px;
}

.pay-form_field-control:checked~.pay-form_label-radio {
    color: $orange;
}

.pay-form_label-contact:last-child {
    margin-top: 38px;
}

.pay-form_field {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #928f94;
    border-radius: 5px;
    background: #ffffff;
    color: #292929;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-left: 13px;
    outline: none;

    margin-top: 13px;

    &::placeholder {
        font-size: 16px;
        line-height: 19px;
    }
}

.pay-form_controls-group {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 52px;
    padding-bottom: 75px;

    &:last-child {
        border-top: 1px dashed #928f94;
    }
}


.pay-form_label-radio {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #928f94;
    display: inline;
}

.pay-form_paylist {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.pay-form_pay-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #292929;
}

.pay-form_buttons {
    height: 183px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 140px;
}

.pay-form_button {
    height: 60px;
    padding: 0 70px 0 70px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background: $orange;
    border-radius: 5px;
    border: none;

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
        color: $orange;
        border: 1px solid $orange;
        background-color: #e5e5e5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &:disabled {
        background: #928f94;
        color: #ffffff;
    }
}

.pay-form_field-tel {
    &:not(:focus) {
        border: black 1px solid;
    }

    &:invalid {
        border: red 1px solid;
    }

    :valid {
        border: green 1px solid;
    }
}
